{% extends 'base.html' %} {% block title %} Dashboard {% endblock title %}
{%block content %}
{% if propertys %}
<div class="row">
  <div class="col-6">
    <h3>Average Price against the Distric</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Distric</th>
          <th scope="col">Average Price (Rs)</th>
        </tr>
      </thead>
      <tbody>
        {% for data in awd %}
          <tr>
            <td>{{data.0}}</td>
            <td>{{data.1|floatformat:"-1"}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-6">
    <h3>Properties to be sold against the Distric</h3>
        <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Distric</th>
          <th scope="col">Properties</th>
        </tr>
      </thead>
      <tbody>
        {% for data in npd %}
          <tr>
            <td>{{data.0}}</td>
            <td>{{data.1}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
<h3>Scrapped Data</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Distric</th>
      <th scope="col">Property</th>
      <th scope="col">Facilities</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% if propertys %} {% for pos in propertys %}
    <tr>
      <th scope="row">{{pos.id}}</th>
      <td>{{pos.distric}}</td>
      <td>{{pos.title}}</td>
      <td>{{pos.facilites}}</td>
      <td>{{pos.price}}</td>
    </tr>
    {% endfor %} {% else %} No Scrapped Data Yet! {% endif %}
  </tbody>
</table>
{% endblock content %}
