{% extends 'base.html' %}

{% block title %}
    Scrap Page
{% endblock title %}

{% block content %}
    <h3>Scrapping Started...</h3>
    <br>
    Go to Dash Board to see the scrapped data
    <br><br>
    <a href="{% url 'scrapapp:dashboard' %}" class="btn btn-danger">Go to Dash Board</a>
{% endblock content %}