{% load static %}
{% url 'scrapapp:dashboard' as path_to_dashboard %}
{% url 'scrapapp:managedata' as path_to_managedata %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href=""><img src="{% static 'logo.png' %}" class="logo-sm"></a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {% if request.path == path_to_dashboard %}active{% endif %}" href={{path_to_dashboard}}>Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == path_to_managedata %}active{% endif %}" href={{path_to_managedata}}>Manage Data</a>
        </li>
      </ul>
    </div>
    {% if request.user.is_authenticated %}
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">Hi {{request.user}}!</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>
      </div>
    {% endif %}
  </div>
</nav>